/* Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Default style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.5em;
  color: #000;
}

h2 {
  font-size: 2.5em;
}

header {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1000;
}

header .container-logo {
  margin-left: 2%;
}

header nav {
  width: 50%;
  transform: translateX(300%);
  -webkit-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header li {
  list-style: none;
}

header a {
  font-size: 1.2em;
  font-weight: 600;
}

header a:hover {
  color: #ffb83d;
}

header .humberger-menu {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.humberger-menu > input {
  width: 100%;
  height: 2.4em;
  position: absolute;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.unhideNav {
  transform: translateX(0);
}

main .jumbotron {
  width: 100%;
  padding: 4% 0 10% 0;
  background-color: #f0efef;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.jumbotron .kotak-1 {
  width: 40%;
  min-width: 300px;
  height: 500px;
  background-color: #ffb83d;
  border-radius: 0 10% 10% 0;
  margin-top: 2%;
}

.jumbotron .text-jumbotron {
  position: relative;
  top: 20%;
  right: 25%;
}

.text-jumbotron h2 {
  text-transform: capitalize;
}

.text-jumbotron p {
  font-size: 1.2em;
  margin-top: 2%;
}

.jumbotron .kotak-2 {
  width: 30%;
  min-width: 300px;
  height: 500px;
  background-color: #eb8207;
  margin-top: 25%;
  justify-self: end;
  border-radius: 10% 0 0 10%;
}

.about-me {
  width: 100%;
  padding: 9% 5% 10% 10%;
  background-color: #71706d;
  position: relative;
}

.about-me h2 {
  text-align: center;
  color: #fff;
}

.about-me .card-kiri {
  max-width: 50%;
  margin-top: 5%;
  background-color: #d9d9d9;
  padding: 5% 5% 20% 5%;
  border-radius: 20px;
  box-shadow: 5px 10px 50px 12px rgba(0, 0, 0, 30%);
}

.about-me .card-kiri h3 {
  font-size: 1.5em;
  font-weight: 800;
}

.about-me .card-kiri p {
  margin-top: 3%;
  font-size: 1.2em;
}

.card-kiri .container-gambar {
  width: 100%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 12px 5px;
}

.card-kiri img {
  width: 50%;
}

/* rule based on attribute selector */
.card-kiri img[alt*="Logo PHPMyAdmin"] {
  width: 100%;
}

.card-kanan {
  max-width: 35%;
  position: absolute;
  top: 30%;
  left: 50%;
}

.card-kanan img {
  width: 100%;
  border-radius: 20px;
}

.portofolio {
  width: 100%;
  background-color: #71706d;
  padding: 10% 0;
}

.portofolio h2 {
  text-align: center;
  color: #fff;
}

.container-slide-portofolio {
  width: 100%;
  margin-top: 8%;
  display: grid;
  grid-template-areas: "item1 item2 item3";
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.container-slide-portofolio .card-porto {
  width: 80%;
  min-height: 500px;
  background-color: #fff;
  transition: transform 400ms ease-out;
}

.banner-card-porto {
  width: 100%;
  height: 50%;
  min-height: 300px;
}

.container-slide-portofolio .card-porto h3 {
  width: 80%;
  text-align: center;
  margin: 10% auto 0 auto;
  font-weight: 800;
  font-size: 1.3em;
}

.card-porto p {
  width: 80%;
  margin: 5% 0 0 5%;
}

.card-porto .container-teknologi-porto {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  justify-items: center;
  gap: 5px;
}

.img-teknologi-porto {
  margin-top: 20%;
  width: 40%;
}

.item1 {
  grid-area: item1;
  opacity: 50%;
  justify-self: start;
  transform: translateX(-25%);
}

#item2 {
  width: 100%;
  grid-area: item2;
  justify-self: center;
  padding-bottom: 15%;
}

.item3 {
  grid-area: item3;
  opacity: 50%;
  justify-self: end;
  transform: translateX(25%);
}

.d-none {
  display: none;
}

.nav-porto {
  width: 5%;
  min-height: 70px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left {
  position: absolute;
  top: 20%;
  left: 1.5%;
  z-index: 3;
}

.right {
  position: absolute;
  top: 20%;
  right: 1.5%;
  z-index: 3;
}

.expand-porto-btn {
  display: none;
}

.services {
  width: 100%;
  background-color: #f0efef;
  padding: 9% 2% 15% 2%;
}

.services h2 {
  text-align: center;
}

.container-services {
  width: 90%;
  margin: 3% auto;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "service1 service2"
    "service3 service4";
  gap: 20% 0;
}

.flip-card {
  width: 70%;
  height: 100%;
  min-height: 400px;
}

.flip-card .title {
  font-size: 1.8em;
  font-weight: 900;
  text-align: center;
}

.flip-card-front p:last-child {
  width: 95%;
  font-size: 1.5em;
  font-weight: 600;
  margin: 5% auto 0 auto;
}

.flip-card-back {
  overflow: auto;
}

.padding-10 {
  padding: 10% 0 10% 0;
}

.padding-90 {
  padding: 90% 0 10% 0;
}

.margin-top-10 {
  /* margin-top: 1vh; */
}

.flip-card-back p:not(.title) {
  width: 80%;
  margin: 3% auto 0 auto;
  font-size: 1.2em;
  text-align: justify;
}

.service1 {
  grid-area: service1;
}

.service2 {
  grid-area: service2;
}

.service3 {
  grid-area: service3;
}

.service4 {
  grid-area: service4;
}

.wave-upper-footer {
  width: 100%;
  background-color: #f0efef;
  display: flex;
}

.width-upper-footer img {
  width: 100%;
  height: 0;
}

footer {
  width: 100%;
  background-color: #71706d;
  margin-top: -1%;
  position: relative;
  padding-bottom: 1.5%;
}

footer .title-footer {
  font-size: 2em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.container-contact {
  width: 90%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-contact h5 {
  color: #fff;
  font-size: 1.2em;
  text-transform: capitalize;
}

.container-contact h5::before {
  content: url(../assets/icon/circle-solid.svg);
  display: inline-block;
  width: 1.5%;
  margin-right: 1%;
}

.container-image-contact {
  width: 50%;
  margin: 3% 0 0 2%;
  display: grid;
  grid-template-columns: repeat(4, minmax(20px, 1fr));
}

.container-image-contact img {
  width: 50%;
}

.garis-batas-copyright {
  width: 100%;
  min-height: 3px;
  border: none;
  background-color: #dce9f2;
}

.copyright {
  width: 100%;
  margin: 3% 0;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  text-transform: capitalize;
}

/* responsive breakpoints */

/* Full HD+ */

@media screen and (max-width: 1160px) {
  .flip-card-back {
    padding: 2%;
  }

  .flip-card-back .title {
    margin-left: 2%;
    margin-right: 2%;
  }

  .flip-card-back p:not(.title) {
    margin-top: 5%;
  }

  footer .title-footer {
    font-size: 1.8em;
  }
}

/* tablet */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2em;
  }

  header a {
    font-size: 1em;
  }

  .jumbotron .kotak-1 {
    min-width: 200px;
    height: 400px;
  }

  .text-jumbotron p {
    font-size: 1em;
  }

  .jumbotron .kotak-2 {
    min-width: 200px;
    height: 400px;
  }

  .about-me .card-kiri h3 {
    font-size: 1.2em;
  }

  .about-me .card-kiri p {
    font-size: 1em;
    margin-top: 5%;
  }

  .card-kiri .container-gambar {
    margin-top: 8%;
  }

  .card-kiri img {
    width: 40%;
  }

  /* rule based on attribute selector */
  .card-kiri img[alt*="Logo PHPMyAdmin"] {
    width: 80%;
  }

  .card-kanan {
    max-width: 42%;
  }

  .container-slide-portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
  }

  .container-slide-portofolio .card-porto {
    width: 65%;
    max-height: 300px;
  }

  .banner-card-porto {
    min-height: 200px;
  }

  .container-slide-portofolio .card-porto h3 {
    margin-top: 5%;
  }

  .img-teknologi-porto {
    width: 30%;
  }

  .item1 {
    transform: translateX(0);
    opacity: 1;
    padding-bottom: 15%;
  }

  #item2 {
    width: 65%;
  }

  .item3 {
    transform: translateX(0);
    opacity: 1;
    padding-bottom: 15%;
  }

  .nav-porto {
    display: none;
    /* position: static; */
  }

  .expand-porto-btn {
    display: inline-block;
    width: 33%;
    min-height: 50px;
    font-size: 1.1em;
    border-radius: 50px;
    padding: 2%;
    background-color: #dce9f2;
  }

  .services {
    padding-bottom: 20%;
  }

  .container-services {
    margin: 5% auto;
  }

  .flip-card {
    min-height: 300px;
  }

  .flip-card .title {
    font-size: 1.4em;
  }

  .flip-card-back p:not(.title) {
    margin-top: 5%;
    text-align: left;
    font-size: 1em;
  }

  footer .title-footer {
    font-size: 1.3em;
    margin: 0 5%;
  }

  .container-contact h5 {
    font-size: 0.9em;
  }

  .container-image-contact img {
    width: 65%;
  }

  .garis-batas-copyright {
    min-height: 2px;
  }

  .copyright {
    font-size: 0.75em;
  }
}

/* handphone */
@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.8em;
  }

  header {
    -webkit-transition: min-height 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: min-height 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    min-height: 0;
    overflow-y: hidden;
  }

  header.nav-open {
    min-height: 250px;
  }

  header nav {
    position: absolute;
    width: 100%;
    transform: translateX(0);
    background-color: #fff;
    border-top: 2px solid #71706d;
    margin: 12% 0;
    -webkit-transition: none;
    transition: none;
  }

  header nav ul {
    flex-direction: column;
  }

  header li {
    margin: 1% 0;
    padding: 1% 0;
    border-bottom: 2px solid #71706d;
  }

  header li a {
    font-size: 0.95em;
    margin-left: 1.5%;
  }

  header .humberger-menu {
    justify-content: flex-start;
  }

  .jumbotron .kotak-1 {
    min-width: 150px;
  }

  .jumbotron .kotak-2 {
    min-width: 150px;
  }

  .about-me {
    padding: 9% 5% 10% 5%;
  }

  .about-me .card-kiri {
    max-width: 100%;
  }

  .about-me .card-kiri h3 {
    width: 50%;
    margin-top: 5%;
  }

  .about-me .card-kiri p {
    width: 50%;
  }

  .card-kiri .container-gambar {
    margin-top: 10%;
  }

  .card-kanan {
    width: 50%;
    top: 28%;
  }

  .services {
    padding: 9% 2% 45% 2%;
  }

  .container-services {
    margin: 9% auto 0 auto;
    grid-template-areas:
      "service1"
      "service2"
      "service3"
      "service4";
    gap: 5%;
  }

  .container-contact {
    margin: 10% auto;
    grid-template-columns: 1fr;
    gap: 10% 0;
  }

  .container-contact h5 {
    font-size: 1em;
  }

  .container-image-contact img {
    width: 50%;
  }
}

/* min-width Handphone */
@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.6em;
  }

  header .container-logo {
    margin: 1%;
  }

  header.nav-open {
    min-height: 170px;
  }

  header .humberger-menu {
    margin: 1% 2% 0 0;
  }

  .humberger-menu > input {
    width: 2em;
    height: 2.1em;
  }

  .jumbotron .kotak-1 {
    min-width: 100px;
  }

  .text-jumbotron p {
    font-size: 0.8em;
  }

  .jumbotron .kotak-2 {
    min-width: 100px;
  }

  .about-me .card-kiri h3 {
    width: 55%;
    font-size: 1em;
  }

  .about-me .card-kiri p {
    width: 55%;
    font-size: 0.8em;
  }

  .card-kiri .container-gambar {
    margin-top: 5%;
  }

  .card-kanan {
    max-width: 40%;
    left: 53%;
  }

  .container-slide-portofolio .card-porto {
    min-height: 380px;
  }

  .banner-card-porto {
    min-height: 120px;
  }

  .container-slide-portofolio .card-porto h3 {
    font-size: 0.98em;
    margin-top: 10%;
  }

  .card-porto p {
    font-size: 0.8em;
    margin-top: 10%;
  }

  .img-teknologi-porto {
    margin-top: 25%;
    width: 43%;
  }

  .expand-porto-btn {
    width: 40%;
    font-size: 0.8em;
    padding: 1%;
  }

  .services {
    padding-bottom: 70%;
  }

  .flip-card .title {
    font-size: 1.2em;
  }

  .flip-card-back p:not(.title) {
    font-size: 0.85em;
  }

  footer .title-footer {
    font-size: 1.1em;
  }

  .container-contact {
    margin-bottom: 12%;
  }

  .container-contact h5 {
    font-size: 0.75em;
  }

  .container-image-contact img {
    width: 70%;
  }

  .copyright {
    font-size: 0.55em;
  }
}
